# ============================================
#  Configuración del servidor MySQL
# ============================================
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=integrador_facturacionelectronica
DB_PORT=3306

# ============================================
#  Configuración de la aplicación
# ============================================
PORT=3000
NODE_ENV=development

# ============================================
#  JWT
# ============================================
JWT_SECRET=facturacion_electronica_secret_key
JWT_EXPIRES_IN=8h
